# Creating a Database for internal use. 

### Motivation: allows for more readable data wrangling in the form of SQL queries

In [14]:
import sqlite3
import sys
import os
import pandas as pd
sys.path.append('/Users/ryan/Documents/Codebase/Big_Data_Bowl/resources')
from general import *

In [4]:
# Change the directory to where the database will live
os.chdir("/Users/ryan/Documents/Codebase/Big_Data_Bowl/data")

In [24]:
# Create the database using sqlite3
BDB25_db = sqlite3.connect("big_data_bowl_2025.db") 

# If getting error in adding tables, it is likely that the database file is not writable. Solve by using below. 
#! chmod 777 big_data_bowl_2025.db

In [17]:

# Lists the names of the csv files provided in the competetion.
table_names = [
    'plays',
    'tracking_week_5',
    'tracking_week_4',
    'tracking_week_6',
    'tracking_week_7',
    'tracking_week_3',
    'tracking_week_2',
    'tracking_week_1',
    'players',
    'games',
    'tracking_week_9',
    'tracking_week_8',
    'player_play'
]

for table_name in table_names:
    
    # Reads the csv files
    table = pd.read_csv(f"nfl-big-data-bowl-2025/{table_name}.csv")
    
    # Create tables in the database
    table.to_sql(
        table_name, 
        BDB25_db, 
        index=False, 
        chunksize=1000, 
        if_exists='replace'
    )

In [26]:
# Create a cursor so that we can query the database
BDB25_cursor = BDB25_db.cursor()

In [18]:
BDB25_db.commit()

In [20]:
BDB25_db.close()

In [28]:



make_a_query(BDB25_cursor, """select * from games""")

,gameId,season,week,gameDate,gameTimeEastern,homeTeamAbbr,visitorTeamAbbr,homeFinalScore,visitorFinalScore
0,2022090800,2022,1,9/8/2022,20:20:00,LA,BUF,10,31
1,2022091100,2022,1,9/11/2022,13:00:00,ATL,NO,26,27
2,2022091101,2022,1,9/11/2022,13:00:00,CAR,CLE,24,26
3,2022091102,2022,1,9/11/2022,13:00:00,CHI,SF,19,10
4,2022091103,2022,1,9/11/2022,13:00:00,CIN,PIT,20,23
...,...,...,...,...,...,...,...,...,...
131,2022110607,2022,9,11/6/2022,13:00:00,WAS,MIN,17,20
132,2022110608,2022,9,11/6/2022,16:05:00,ARI,SEA,21,31
133,2022110609,2022,9,11/6/2022,16:25:00,TB,LA,16,13
134,2022110610,2022,9,11/6/2022,20:20:00,KC,TEN,20,17
135,2022110700,2022,9,11/7/2022,20:15:00,NO,BAL,13,27